@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre:700);


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

/* This is Code Under Monitor Size  about 2100px width */


* {
    margin:0;
    box-sizing: border-box;
    padding:0;
}
/*navigation CODE By Others */ 
a,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}


.nav-bar {
  position: fixed;
  top: 36px;
  left: 48px;
  right: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label[for="nav-toggler"] > i {
  position: relative;
  font-size: 22px;
  cursor: pointer;
  color: black;
}

.rotate_b {
  animation: rotate_i_b 0.5s infinite;
}
.rotate_x {
  animation: rotate_i_x 0.5s infinite;
}

@keyframes rotate_i_b {
  0% {
    transform: rotate(0deg) rotate(45deg) scale(0.5);
  }
  100% {
    transform: rotate(0deg) rotate(180deg) scale(1);
  }
}

@keyframes rotate_i_x {
  0% {
    transform: rotate(0deg) rotate(45deg) scale(1);
  }
  100% {
    transform: rotate(0deg) rotate(180deg) scale(0.5);
  }
}

#nav-toggler:checked ~ .nav-bar > label[for="nav-toggler"] > i {
  color: rgb(110, 109, 109);
}

.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -250px;
  background-color: white;
  text-align: center;
  transition: 0.3s linear;
  width: 250px;
  opacity: 0.7;
  z-index: 9999;
}

.navbar-options {
  margin: 24px;
  margin-top: 120px;
  list-style: none;
}

.navbar-options .navbar-item {
  margin-top: 24px;
}

.navbar-options .navbar-item {
  font-size: 20px;
  color: black;
  font-family: 'Averia Serif Libre', sans-serif

  
}
.navbar-options .navbar-item:hover {
  color:#f1f1f1;
}
.navbar-options  {
  width: 150px;
  padding: 8px;
  font-size: 14px;
}

#nav-toggler:checked ~ .side-bar {
  right: 0px;
}

@media screen and (max-width: 994px) {
  .front-main .main-header-details {
    letter-spacing: normal;
    font-size: 14px;
    text-align: left;
  }

  .front-main .main-header-details p {
    font-size: 16px;
    letter-spacing: normal;
  }

  .front-main .main-header-details h1 {
    font-size: 50px;
  }

  .front-main .main-header-details a > button {
    font-size: 11px;
    padding: 12px 20px;
  }
}

@media screen and (max-width: 796px) {
  .front-main img {
    display: none;
  }

  .front-main {
    justify-content: center;
  }
}

@media screen and (max-width: 396px) {
  .front-main .main-header-details {
    font-size: 13px;
  }

  .front-main .main-header-details p {
    font-size: 14px;
    letter-spacing: normal;
  }

  .front-main .main-header-details h1 {
    font-size: 30px;
  }

  .front-main .main-header-details a > button {
    font-size: 10px;
    padding: 8px 11px;
  }

  .side-bar {
    right: -100%;
    width: 100%;
  }
  #nav-toggler:checked ~ .nav-bar > .web-title i,
  #nav-toggler:checked ~ .nav-bar > .web-title {
    color: rgb(155, 155, 155);
  }
}

/* -------------------------------*/






h1,h2 {
    font-family: 'Averia Serif Libre', sans-serif;
    

}

h3 {
  color: black;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
}
footer h3 {
  text-decoration: none;
  
}

p {
    font-family: 'Roboto', sans-serif;
    
   
}

.decor {
    background-color: rgba(255,255,255,0.2);
    padding: 2%;
    margin-left: -15em;
    color: black;
}


header {
   padding: 5em;
   text-align: center;
}

.highlight1 img {
    float: right;
    margin-top: -19em;
    margin-right: 5em;
    transform:rotate(5deg);

    
}
.highlight1 h2{
    margin-bottom: 1em;
    color: black;
}
.inner{
    width:50%;
    margin: auto;
    padding-right: 2em;
    padding-top:4em;
    padding-bottom:4em;
    font-weight: 5;
}

img {
    border: 5px solid white;
    border-bottom: 30px solid white;
}

.outside1 img {
    float:left;
    margin-top: -15em;
    transform: rotate(-5deg);
    margin-left: 10em;
}
/*each section's backgroun color*/
.highlight1{
    background-color: #d6cbd3;
}
.highlight1:hover{
    background-color: #bbb0b8;
}
.outside1 {
    background-color: #eca1a6;
}
.outside1:hover{
    background-color: #ca8389;
}
.highlight2 {
    background-color: #bdcebe;
}
.highlight2:hover {
    background-color: #93a296;
}

.outside2 {
    background-color: #ada397;
}
.outside2:hover {
    background-color: #8b8279;
}



.outside1 {
    padding: 3%;
     
}
.outside1 .inner{
    margin-right: 2em;
    width: 40%;
} 

.outside1 h2 {
    margin-bottom: 1em;
    color: black;
}

.highlight2 h2 {
    color: black;
    margin-bottom: 1em;
}
.highlight2 .inner {
    
    margin-left: 20em;
    width:40%;
    padding:6%;
    
}

.highlight2 img {
    float: right;
    
}

#img1 {
   
    margin-top: -18em; 
    margin-right: 5em;
    transform: rotate(5deg);
}


.video1 {
    float: left;
    margin-right:5em;
    margin-top: -4em;
    border: 5px solid white;
    border-bottom: 20px solid white;
    
    
}

.outside2 {
    padding: 8%;
    
}

.outside2 p {
  font-family: 'Averia Serif Libre', sans-serif;
  font-size: 1.5em;
  margin-bottom: 2em;
  color: black;
  

}


.outside2 li {
    margin-left: 40em;
}
.outside2 li,.highlight1 li,.highlight2 li,.outside1 li {
    color: black;
    font-family: 'Roboto', sans-serif;

}

footer p{
    color: black;
}

/*I learn this ------- flashing effect*/
.flash:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
/*-------------------------------------*/

img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.5);

}

.camera {
    border: 0;
    box-shadow: none;
    margin-top: -9em;
}





  
  
  
  /* Code by Others -------------- The typewriter cursor effect */
  .typing-demo {
    width: 30ch;
    animation: typing 1.5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    margin-left: 47em;
    
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
/*-------------------------*/

/*general button*/
  button {
      padding: 10px;
      border-radius: 15px;
      
      
     
  }
  button a {
      text-decoration: none;
      color: white;
      
  }
  /*footer button*/
  footer button a{
     
      color: black;
  }
  footer button a:hover {
    text-decoration: none;
  }
  footer button{
      margin-top: 2em;
  }

  footer button:active{
    background-color: black;
    color:white;
  }

 

  /*buttton1*/
  .button {
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    border-radius: 4px;
    border: none;
    background-color: pink;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button:active {
    transform: scale(0.9);
    background-color: #e60000;
  }
  

  .jiazi .highlight2 .camera, #cheungfun .highlight2 .camera {
    margin-right:5em;
  }
  
  .footer-distributed{
      background: white;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      font:  16px sans-serif;
      text-align: left;
      padding: 50px 60px 40px;
      overflow: hidden;
  }

  #footer-links {
    color: black;
    margin-bottom: 1em;
    font-size: 14px;
 }
 #footer-links a {
   text-decoration: underline;
   
 }
 .footer-distributed button {
   margin-bottom: 10em;
 }

 #footer-links a:hover {
   font-size: 16px;
   text-decoration: none;
   color: black;
 }

  
  
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      float: left;
  }
  
  
  .footer-distributed h3{
      color:  black;
      font: normal 36px 'Pirata One', cursive;
     
      margin: 0 0 10px;
  }
  

  
  /* Footer links */
  

  
  .footer-distributed .footer-company-name{
      color:  #8f9296;
      font-size: 12px;
      font-weight: none;
      margin: 0;
  }

 

    

  /* Footer Right */
  
  .footer-distributed .footer-right{
      float: right;
  }
  
 

 
  
 
  
 
  

  
  

  



/*gif*/
.loading img{
    box-shadow: none;
}

 
/*HomeMade Cooking pg*/

.homecookingli,h3 {
  margin-left: -12em;
  margin-top: 1em;
  
}

.homecookingli {
  margin-top: 0.3em;
}

#homecookingpg img {
  margin-top:-30em;
}

#homecookingpg #img1 {
  margin-right: 2em;
}

#homecookingpg .highlight2 .inner {
  width: 60%;
}



/*
Credit Page
*/

#credit a {
  text-decoration: underline;

}

#credit p {
  margin-bottom: 0.5em;

}
#credit section {
  width: 100%;
}


#credit img {
  border: 0;
  box-shadow: none;
}

#credit .highlight2 img{
  margin-top: -9em;
  margin-left: 100em;
}

#credit .outside1 img {
  margin-top: -9em;
}

#credit .highlight1 img {
  margin-top: -12.5em;
}

/*cheung fun pg */
.highlight1 {
  padding: 2%;
}

/* The Above Code Works for monitor size  about 2100px width */

/*standard size labtop display e.g. 13in macbook air/macbook pro*/










@media (max-width: 1600px) {

  footer img {
    margin-top:-3em;
  }
  .typing-demo {
    margin-left: 37em;
  }
  
  .jiazi .highlight1 .decor,#cheungfun .highlight1 .decor, #homecookingpg .highlight1 .decor {
    margin-right: -10em;
    margin-left:-10em;
    width:90%;
  }

  #homecookingpg .outside1 .decor {
    margin-left: -10em;
  }
  #homecookingpg .outside1 h3{
    margin-left: -8em;
  }
  #homecookingpg .outside1 li{
    margin-left: 5em;
  }
  #homecookingpg .highlight2 .decor {
    width: 90%;
  }
  #credit1 .typing-demo {
    margin-left:33em;
  }
  
} 

@media (max-width: 1500px) {

  
  .typing-demo {
    margin-left: 33em;
  }
  
} 

@media (max-width: 1300px) {
  .outside1 .decor {
    margin-left: -1em;
  }
  #homecookingpg .outside1 img {
    margin-left:1em;
  }
  .typing-demo {
    margin-left: 28em;
  }
  #credit1 .typing-demo {
    margin-left:25em;
  }

}

/*medium device, tablet*/
@media (max-width: 1024px) {

   

    .highlight1 img {
      display: none;  
      
    }
    .highlight1 .decor {
      margin-right: -5em;
      margin-left: -5em;
    }

    .outside1 img {
      margin-left: 4em;
      margin-top: -20em;
    }
    .outside1 .decor {
      margin-left: -1em;
      margin-right: -2em;
    }
    .highlight2  {
      padding: 3%;
    }
    .highlight2 h2 {
      margin-right: 2em;
      margin-left:-5em;
    }

    .outside2 .video1{
      float: none;
    }
    
    .jiazi .highlight2 img, #cheungfun .highlight2 img, #homecookingpg .highlight2 img {
      display: none;
    }

    #homecookingpg .highlight1 .decor, .jiazi .highlight1 .decor, #cheungfun .highlight1 .decor {
      
      margin-left: -7em;
      margin-right: 1em;
      width:150%;
    }

    #homecookingpg .highlight1 h3 {
      margin-left: -5em;
    }
    #homecookingpg .highlight1 li {
      margin-left: 8em;
    }
    #homecookingpg .highlight2 .decor{
      
      margin-left: -15em;
      margin-right: 1em;
      width:150%;
    }

   
    #homecookingpg .outside1 img {
      display: none;
      
    }
    #homecookingpg .outside1 .decor{
      margin-left: -25em;
      margin-right: 5em;
      
    }

    #homecookingpg .outside1 h3 {
      margin-left: -20em;
    }
    #homecookingpg .outside1 h2 {
      margin-left: -10em;
    }
    #homecookingpg .outside1 li {
      margin-left: -10em;
    }
    .typing-demo {
      margin-left: 20em;
    }

    .jiazi .outside2 li {
      margin-left: 1em;
    }

    .jiazi .button {
      padding:5px;
      box-shadow: none;
    }
    .highlight2 img{
      display:none;
    }

    #credit1 .typing-demo {
      margin-left: 20em;
    }
    .footer-distributed {
      font: 14px sans-serif;
  }

   .footer-distributed .footer-company-name{
      font-size: 12px;
  }

   
    
}



@media (max-width: 850px){
  footer img {
    display:none;
  }
  .typing-demo {
    margin-left: 14em;
  }
  #cheungfun .outside1 img {
    display: none;
  }
  #cheungfun .outside1 .decor {
    width: 200%;
    margin-left: -20em;

  }
  #cheungfun .outside1 h2 {
    
    margin-left: -10em;

  }
  #credit1 .typing-demo {
    margin-left: 15em;
  }
.footer-distributed{
    padding: 30px;
    
}

.footer-distributed .footer-left {
    float: none;
    max-width: 400px;
    margin: 0 auto;

}

.footer-distributed .footer-left{
    margin-bottom: 40px;
}


}
 


/*Phone*/
@media (max-width: 480px){
 
  img,.video1,.typing-demo {
    display: none;
  }

  footer button {
    display: none;
  }
  
  .highlight2 .decor {
    margin-left: -20em;
    margin-right: 5em;
  }

  .highlight2 h2 {
    margin-left: -10em;
  }

  #homecookingpg .highlight2 .decor{
    margin-left: -18em;
  }
  #homecookingpg .highlight2 h2{
    margin-left: -12em;
  }
  #homecookingpg .highlight2 h3{
    margin-left: -15em;
  }

  #homecookingpg .highlight2 li{
    margin-left: -5em;
    margin-right: 10em;
  }

  #homecookingpg .highlight1 .decor, .jiazi .highlight1 .decor, #cheungfun .highlight1 .decor {
    margin-left: -3em;
    
    

}

#homecookingpg .highlight1 h3{
  margin-left: -1em;
}
#homecookingpg .highlight1 h3{
  margin-left: -1em;
}

#homecookingpg .highlight1 li{
  margin-left: 10em;
}
#homecookingpg .outside1 li{
  margin-left: 4em;
}
#homecookingpg .outside1 h3{
  margin-left: -7em;
}
#homecookingpg .outside1 h2{
  margin-left: -6em;
  margin-right: -5em;
}
#homecookingpg .outside1 .decor{
  margin-left: -11em;
  margin-right: -1em;
}

.jiazi .outside1 .decor, #cheungfun .outside1 .decor, #credit .outside1 .decor {
  margin-left:-12em;

}
.jiazi .outside1 h2, #cheungfun .outside1 h2, #credit .outside1 h2 {
  margin-left:-6em;
  
}

}

  

 